.header-menu {
    display: flex;
    margin-left: 60px;
    padding: 30px 0;
    justify-content: space-between;
    align-items: center;
    background-color: #F8F8F5;
}

.header {
    background-color: #F8F8F5;
}

.header-title {
    color: #FFFFFF;
    font-size: 30px;
}

.nav-links {
    display: flex;
    width: 700px;
    padding: 0 40px;
    padding: 10px;
    margin: 25px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
}

.nav-list ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.nav-links li {
    font-size: 13px;
    letter-spacing: 2.6px;
    padding: 0 10px;
    font-weight: 700;
}

.nav-links li a {
    color: #FFFFFF;
    font-family: "Courier Prime", monospace;
    text-decoration: none;
    display: block;
}

.nav-links li a:hover {
    color: #68645e;
}


.burger-menu {
    display: none;
    position: absolute;
    z-index: 5;
    align-items: center;
    justify-content: flex-end;
    width: 30px;
    height: 10px;
    right: 30px;
}

.burger-menu.active {
    position: fixed;
}

.burger-menu span{
    height: 2px;
    width: 100%;
    transform: scale(1);
    background-color: #ffffff;
    cursor: pointer;
}

.burger-menu::before, .burger-menu::after {
    content: '';
    position: absolute;
    height: 2px;
    widtH: 100%;
    background-color: #ffffff;
    transition: all 0.3s ease 0s;
}

.burger-menu::before { top: 0 }
.burger-menu::after { bottom: 0 }
.burger-menu.active span { transform: scale(0) }
.burger-menu.active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0, -50%);
}
.burger-menu.active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0, 50%);
}

.dropdown2 {
    display: none;
    background: #D9DCCD;
    position: absolute;
    list-style: none;
    padding: 10px 0;
    min-width: 130px;
    transform: translateX(-25%);
    z-index: 10;
}

.nav-links {

}

.dropdown2 li {
    padding: 8px 15px;
}

.dropdown2 a.node{
    text-align: center;
    font-size: 14px;
    font-weight: 200;
    color: rgb(98, 67, 50);
}

.dropdown2.open {
    display: block !important;
}

.toggle {
    display: none !important;
}
 

.toggle-node:hover ~ .dropdown2 {
    display: block !important;
} 

.dropdown2:hover {
    display: block !important;
}


@media (max-width: 920px) {
    .header-menu {
        padding: 59px 0;
    }

    .dropdown2 {
        position: static;
        transform: translateX(0);
    }

    .dropdown2 li a.node {
        text-align: right;
        color: rgb(98, 67, 50); 
    }

    .toggle {
        display: block !important;  
        width: 38px;
        height: 38px;
        background: transparent;
        border: none;
        cursor: pointer;
        position: relative;
        padding: 0;
        margin-left: 8px;
        outline: none;
    }

    .toggle::before,
    .toggle::after {
        content: '';
        position: absolute;
        background: rgb(76, 74, 74);
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        transition: all 0.3s ease;
    }

    .toggle::before {
        width: 20px;
        height: 2px;
    }

    .toggle::after {
        width: 2px;
        height: 20px;
    }

    .toggle.active::after {
        opacity: 0;
        transform: translate(-50%, -50%) rotate(90deg);
    }

    .toggle:hover::before,
    .toggle:hover::after {
        background: rgb(76, 74, 74); /* Світло-сірий при наведенні */
    }

    .toggle-node:hover ~ .dropdown2 {
        display: none !important;
    }

    .dropdown2 {
        background-color: #D9DCCD;
        padding-top: 10px !important;
    }

    .burger-menu {
        display: flex;
        z-index: 1000;
        cursor: pointer;
    }

    .nav-links {
        background-color: #D9DCCD;
        display: none;
        flex-direction: column;
        position: fixed;
        height: 100%;
        width: 100%;
        top: 0; bottom: 0; left: 0; right: 0;
        z-index: 50;
        overflow-y: auto;
        padding: 0 40px;
        padding-top: 200px;
        margin: 0;
        gap: 10px;
    }

    .nav-links ul { list-style-type:none; padding:0px; margin:0px; }

    .nav-links li .node { color: #4c4a4a; }

    .nav-links li { 
        font-family: "Vollkorn", serif;
        font-weight: 400;
        font-style: normal;
        letter-spacing:normal;
        hyphens: none;
        font-size: 31px;
        line-height: 40px;
        padding: 0px; 
        margin:0px; 
        position:relative;
    }

    .nav-links li { text-transform: lowercase; text-decoration:none; display:block; }
    .nav-links li::first-letter { text-transform: uppercase; }
    .nav-links li .toggle { display: block; position:absolute; right:0; top:0; }
}

@media (max-width: 541px) {
    .nav-links {
        padding-top: 110px;
    }
}

@media (max-width: 426px) {
    .nav-links {
        padding-top: 120px;
        gap: 0px;
        padding-left: 30px;
    }
    .nav-links li {
        font-size: 25px;
    }

    .dropdown2 li a.node {
        font-size: 17px; 
    }

    .header-menu {
        margin-left: 40px;
        padding: 40px 0;
    }

    .header-title {
        font-size: 21px !important;
    }
}